@import 'tailwindcss';

@theme inline {
  --font-mono: var(--font-fira-code); /* Diperbarui ke Fira Code */
}

body {
  background-color: #0b0e14; /* Warna latar sangat gelap (slate-950) */
  color: #22d3ee; /* Warna teks hijau ala terminal (green-400) */
}
