@import 'tailwindcss';

@theme inline {
  --font-mono: var(--font-fira-code); /* Diperbarui ke Fira Code */
}

body {
  background-color: #020617; /* Warna latar sangat gelap (slate-950) */
  color: #4ade80; /* Warna teks hijau ala terminal (green-400) */
}
